body {
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background-color: #ddd;
  color: #444;
}

.modal {
  border-radius: 10px;
  margin: 6px;
  padding: 20px;
  background-color: #fff;
}
.modal a {
  text-decoration: none;
  color: #444;
}

.messages p {
  display: none;
}

.messages p.active {
  display: block;
}

.next {
  color: #000;
  animation: next 0.85s step-start 0s infinite;
  -moz-animation: next 0.85s step-start 0s infinite;
  -webkit-animation: next 0.85s step-start 0s infinite;
  vertical-align: -2px;
  content: "&#9660;";
}
@-webkit-keyframes next {
  50% { visibility: hidden; }
}
@-moz-keyframes next {
  50% { visibility: hidden; }
}
@keyframes next {
  50% { visibility: hidden; }
}
